@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font Monserrat */
.navbar {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    font-family: 'Nunito', sans-serif;
}

/* EOF font Monserrat */

/* font Nunito */
.jumbotron {
    font-family: 'Nunito', sans-serif;
}


h2 {
    font-family: 'Nunito', sans-serif;
}

/* EOF font Nunito */

/* color pages */
body {
    background-color: rgba(235, 235, 235, 0.87) !important;
}

/* removed html list style  */
ul {
    list-style: none;
}
/* EOF removed html list style  */

#page-container {
    position: relative;
    min-height: 100vh;
  }

/* .jumbotron custom */
.jumbotron-custom {
    background-image: url(/frontend/assets/images/tri.svg);
    height: 75vh;
    background-image: cover;
    background-position: center; 
    color: #ffff;
}

.jumbotron-courses {
    background-image: url(/frontend/assets/images/pexels-julia-m-cameron-4144923.jpg);
    height: 20vh;
    object-fit: contain;
    background-image: cover;
    background-position: center; 
    color: #ffff;
    background-repeat: no-repeat;
    background-size: auto;
}

.jumbotron-course-deets {
    /* background-image: url(/frontend/assets/images/pexels-julia-m-cameron-4144923.jpg); */
    height: 60vh;
    width: 50em;
    /* object-fit: contain; */
    /* background-image: cover; */
    /* background-position: center;  */
    color: rgb(63, 30, 9);
    background-color: rgb(169, 192, 192);
    /* background-repeat: no-repeat; */
    /* background-size: auto; */
}
/* EOF .jumbotron custom */

/* HERO / index */

.custom-shape-divider-top-1619427234 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619427234 svg {
    position: absolute;
    display: block;
    width: calc(110% + 1.3px);
    height: 446px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1619427234 .shape-fill {
    fill: #d6cb3044;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1619427234 svg {
        width: calc(189% + 1.3px);
        height: 260px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1619427234 svg {
        width: calc(300% + 1.3px);
        height: 128px;
    }
}

/* //////// wave 2 */
.custom-shape-divider-top-1619429107 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619429107 svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 446px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1619429107 .shape-fill {
    fill: #DFB14175;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1619429107 svg {
        width: calc(189% + 1.3px);
        height: 260px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1619429107 svg {
        width: calc(300% + 1.3px);
        height: 128px;
    }
}


/* ////////////// Wave 3 */
.custom-shape-divider-top-1619429269 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619429269 svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 446px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1619429269 .shape-fill {
    fill: #41dfb51a;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1619429269 svg {
        width: calc(189% + 1.3px);
        height: 260px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1619429269 svg {
        width: calc(300% + 1.3px);
        height: 128px;
    }
}

/* /////// wave 4 */

.custom-shape-divider-top-1619429378 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619429378 svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1619429378 .shape-fill {
    fill: #2ed3aa11;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1619429378 svg {
        width: calc(189% + 1.3px);
        height: 260px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1619429378 svg {
        width: calc(300% + 1.3px);
        height: 128px;
    }
}

/*EOF  HERO / index */

/* About */

.section-title {
    font-size: 2.3rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

#about {
    min-height: 60vh;
    font-family: 'Montserrat', sans-serif;
}

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .column-left {
    width: 400px;
    height: 400px;
}
#about .column-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .column-right p {
    margin-bottom: 20px;
}

/* #about .column-right .cta {
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
} */

/* #about .column-left {
    position: relative;
    z-index: 1;
} */

/* #about .column-left .about-img::after {
    content: '';
    position: absolute;
    left: -30px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 5px solid rgb(167, 64, 84);
    z-index: -1;
} */

#about .icon {
    max-height: 100px;
    max-width: 100px;
    height: 40px ;
    width: 40px;
    /* margin: 0 auto; */
    /* margin-bottom: 10px; */
}
/* EOF About */


/* card custom */
.card-custom {
    overflow: hidden;
    min-height: 450px;
    max-height: 600px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  }
  
  .card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
  }
  
  /* First border-left-width setting is a fallback */
  .card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
  }
    
/* card custom */

/* footer custom */

footer {
    font-size: .97rem;
}

.container-fluid {
    padding-top: 20px ;
}

/* footer CSS */
#footer hr.footer-line {
    border-top: 1px solid rgb(98, 92, 92);
    margin: 0 30px 20px 30px ;
}

#footer h6 {
    margin-bottom: -5px;
    padding-bottom: 0;
}

#footer p {
    padding-top: 0;
    margin-top: -5px;
}
/* EOF footer */
 
